@import 'tailwindcss';

@config "@/tailwind.config.js";

body {
   min-height: 100dvh;
   display: flex;
   flex-direction: column;
}

/* 

if needed

.editor-widget.suggest-widget {
   color: #ff0000;
   font-size: 14px;
} */
